eureka:
  client:
    serviceUrl:
      defaultZone: "${EUREKA_URI:http://localhost:8761/eureka}"
  instance:
    preferIpAddress: true
server:
  error:
    include-message: always
  port: 3005
spring:
  application:
    name: user-service
  cloud:
    discovery:
      enabled: true
  data:
    mongobd:
      database: userDB
      port: 27017
  feign:
    circuitbreaker: true